.compare-product-wrapper {
  background-color: rgb(241, 240, 240);
}
.compare-product-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 15px;
}
.compare-product-card .cross {
  top: 15px;
  height: 20px;
  width: 20px;
  right: 20px;
  cursor: pointer;
}
.compare-product-details .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
.compare-product-details .price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #6b6666;
}

.compare-product-details .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
  border-top: 1px solid #b7b7b7;
}
